{% extends '_layout.html' %}

{% block header %}

{% if current_user.is_authenticated %}
<span>
    Instagram
</span>
<a class="navbar-brand" href="{{ url_for('accounts.logout') }}">
    <img src="https://image.flaticon.com/icons/svg/130/130925.svg" width="30" height="30" alt="Logout">
</a>
{% endif %}

{% endblock %}

{% block content %}

<div style="display: flex; padding: 20px">
    <img class="rounded-circle" style="width: 150px; height: 150px" src="{{user.profile_image_path}}" />

    <div>
        <h1 style="position: relative; left: 30vw">{{user.username}}</h1>
        {% if current_user.is_authenticated and user.id == current_user.id %}


        <a class="btn btn-primary" href="accounts/edit"
            style="text-decoration: none; position: relative; left: 30vw">Edit
            Profile</a>
        {% endif %}
    </div>
</div>

<br>
<hr>

<div style="display: flex; flex-wrap: wrap; padding-left: 5vw">
    {% for pictures in user.display %}
    <a href="{{ url_for('posts.pagefor', picture=pictures.picture[0:11]) }}">
        <img style="width: 28vw; height: 28vw; margin: 1vw; object-fit:cover" type="image"
            src="{{pictures.post}}" /></a>
    {% endfor %}
</div>

{% if current_user.is_authenticated and user.id == current_user.id %}
<div style="text-align: center;">
    <a href="pictures/upload_image" style="color: black; text-decoration: none">Upload</a>
</div>

<br>
{% endif %}




{% endblock %}