<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">

  {% assets "home_css" %}
  <link rel="stylesheet" href="{{ ASSET_URL }}">
  {% endassets %}

  {% assets "home_js" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}


  <nav class="navbar fixed-top navbar-light bg-light">
    <a class="navbar-brand" href="/">
      <img src="https://image.flaticon.com/icons/svg/263/263115.svg" width="30" height="30" alt="Home">
    </a>
    {% block header %}
    {% endblock %}
  </nav>


  <title>
    {% block title %}
    {% endblock %}INSTAGRAM
  </title>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <ul class=flashes>
    {% for message in messages %}
    <li class="alert alert-{{category}}" role="alert">{{ message }}</li>
    {% endfor %}
  </ul>
  {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}

</head>

<body style="margin-top: 80px">
  {% block content %}
  {% endblock %}
  <footer>
    Made with &hearts; in <a target="_blank" href="https://imgur.com/gallery/NnjHA">Azeroth</a>
  </footer>
</body>

</html>