{% extends "_layout.html" %}

{% block title %}
Home •
{% endblock %}

{% block header %}

{% if current_user.is_authenticated %}
<span>
    Instagram
</span>
<a class="navbar-brand" href="{{ url_for('show', username=current_user.username) }}">
    <img src="https://image.flaticon.com/icons/svg/1077/1077063.svg" width="30" height="30" alt="Profile">
</a>
{% endif %}

{% endblock %}

{% block content %}

{% if not current_user.is_authenticated %}

<a href="accounts/signup" style="color: black; text-decoration: none">Signup</a>

<a href="accounts/signin" style="color: black; text-decoration: none">Signin</a>

<div style="text-align: center">
    <h1>Welcome to insta.</h1>
</div>

{% endif %}
{% if current_user.is_authenticated %}

<a href="accounts/logout" style="color: black; text-decoration: none">Logout</a>

<div style="text-align: center">
    <h1>Welcome to your feed.</h1>
</div>

{% endif %}

{% endblock %}